# Config do MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=123456
MONGO_INITDB_DATABASE=meubanco

# URL de conexão usada pelo Node
MONGO_URL=mongodb://admin:123456@mongodb:27017/meubanco?authSource=admin

# Porta da aplicação Node
PORT=3000
NODE_ENV=development
JWT_SECRET=teste
